$textColorLight: #a3a4b0;
$textColorDark: #3b3e41;

@media screen and (max-width:425px) and (min-width:320px) {
    body {
        header {
            div.img-wrapper {
                overflow: hidden;

                img {
                    max-width: 200%;
                }
            }

            nav {
                .logo {
                    padding: 2% 4%;
                    width: 40%;
                }

                .burger {
                    min-width: 50%;

                    .burger-img {
                        display: flex;
                        margin: 2% 4%;
                        padding: 10px;
                        width: 20px;
                        float: right;

                        border-radius: 5px;
                        border: 1px solid $textColorLight;
                        cursor: pointer;
                    }

                    &:hover ul.navigation-wrapper {
                        display: block;
                        background: white;
                        cursor: pointer;
                        opacity: 1;
                    }

                    ul.navigation-wrapper {
                        position: absolute;
                        opacity: 0;
                        right: 2%;
                        top: 78%;
                        border-radius: 5px;
                        cursor: pointer;

                        z-index: 500;

                        transition: opacity 0.5s linear;
                        -webkit-transition: opacity 0.5s linear;
                        -o-transition: opacity 0.5s linear;
                        -moz-transition: opacity 0.5s linear;

                        li {
                            padding: 10px;
                            border: 1px solid $textColorDark;
                            min-width: 100px;

                            a {
                                text-transform: none;
                                font-weight: 100;
                                font-size: 2.5vw;
                                color: $textColorDark;

                            }
                        }
                    }

                }
            }

            .welcome-text-wrapper {
                h1 {
                    font-size: 5.5vw;
                }

                p {
                    display: none;
                }
            }

            button {
                bottom: 10%;
            }
        }

        main {
            section.gallery {
                .img-wrapper {
                    max-width: 49vw;
                    max-height: 49vh;
                }
            }

            section.download-application {
                .slider-wrapper {

                    flex-direction: column;

                    img {
                        width: 100%;
                    }

                    .slider {
                        width: 50%;

                        .text-wrapper {
                            top: auto;
                            left: 0%;
                            right: auto;
                            bottom: 0%;
                            min-height: 135px;
                            padding: 5% 10%;
                            background: #53354aa1;
                            border-radius: 0 15px 0 0;

                            p:nth-child(1) {
                                font-size: 3.5vw;
                            }

                            p:nth-child(2) {
                                font-size: 2vw;
                            }
                        }
                    }

                    .circles-wrapper {
                        right: 45%;
                        bottom: 5%;

                        .circle {
                            width: 7px;
                            height: 7px;
                            margin: 2px;
                        }
                    }
                }

                .download-wrapper {
                    p {
                        text-align: center;
                    }
                }
            }
        }

        footer {

            .information-wrapper {
                flex-direction: column;

                .information-block-wrapper {
                    width: 100%;
                }
            }
        }
    }
}